# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.tsout
.webpack
.vscode

.DS_Store

.nyc_output

src/web/build

src/web/cypress/videos
src/web/cypress/screenshots
coverage
*.tmp
