# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.tsout
.webpack
.vscode

.DS_Store

.nyc_output

coverage
*.tmp
.env
index.js

tmp

mograte
cypress/videos
cypress/screenshots