// @import './variables.header';

$fontFaceUrl: '//fonts.googleapis.com/css?family=Montserrat:300,400,600,900,300italic,400italic,600italic,900italic';

$animusGreen: #1a4645;
$animusOrange: #f58800;

$animusGreenLight: #7a8f8f;

// palette1:
$blackChocolate: #191308;
$lightBlueSteel: #b4cded;
$paleSpringBud: #f4f7be;
$purpleNavy: #4f517d;
$flame: #d75f1d;


$buttonBGColor: #0352cc;
$buttonFGColor: #fff;

$pageBGColor: white; //lighten($paleSpringBud, 10%);
$pageTextColor: $blackChocolate;

$circleFill: $animusOrange;
$circleStroke: #C70039;
$scatterplotAverageLineStroke: #54e881;
$scatterplotLineStroke: #000;