@import './mixins';
@import './variables';
@import url($fontFaceUrl);
@import '~primeicons/primeicons';
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';

body {
  font-family: Montserrat;
  color: $pageTextColor;
  @include page-background;
  margin: 0 0 0 0 !important;
}

footer, header {
  width: 100vw;
  // height: 3em;
  min-height: 3em;
  margin: -1em 0 0 -2em;
  background-color: $lightBlueSteel;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  p {
    margin: 0 0 0 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
}

header {
  // padding: 1em 0 1em 0;
  padding: 1em;
  margin-top: -1em;
}

