
$additionalContextBackgroundColor: $animusGreen;
$containerMinWidth: 380px;
$containerMinHeight: 490px;
$headerHeight: 65px;

.additional-context-background,
.additional-context-small-orange {
  position: absolute;
  border-radius: 3px 3px 3px 3px;
  opacity: .6;
}

.additional-context-background {
  background-color: $additionalContextBackgroundColor;
  min-width: $containerMinWidth;
  min-height: $containerMinHeight;
  z-index:2;
}

.additional-context-small-orange {
  background-color: #f58800 !important;
  min-width: 5%;
  min-height: 15%;
  transform: rotate(5deg);
  left: calc(21% + 238px + 10px); // move to react code to calculate
  bottom: -1em;
}

.additional-context {
  position: absolute;
  min-width: $containerMinWidth;
  max-width: $containerMinWidth;
  max-height: $containerMinHeight;
  z-index:3;
}

.additional-context-header {
  height: $headerHeight;
  border-bottom: 1px solid white;
  h3 {
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    color: white;
  }
}

.additional-context-close {
  position: absolute !important;
  right: 0;
  top: 0;
  float: right;
  margin: 1em 1em 0 0 !important;
  background-color: $circleFill !important;
  border-style: none !important;
  color: #fff !important;
  opacity: .9;
  &:hover {
    background-color: lighten($circleFill, 5%) !important;
    opacity: 1;
  }
}

.additional-context-summary-container {
  // width: 100%;
  // padding: .5em 0 1em 0;
  // color: #fff;
  // max-height: $containerMinHeight/2 - $headerHeight;
  // overflow-y: auto;

  width: 365px;
  padding: .5em 10px 1em 20px;
  color: #fff;
  max-height: $containerMinHeight/2 - $headerHeight;
  overflow-y: auto;

  .additional-context-summary-container-row {
    font-size: .75em;
    line-height: 1.35em;
    .left {
      width: calc(50% - 20px);
      text-align: right;
      display: inline-block;
      padding-right: 5px;
      vertical-align: top;
      text-transform: capitalize;
    }
    .right {
      text-align: left;
      display: inline-block;
      width: calc(50% - 20px)
    }
  }

}

.additional-context-header-link {
  text-align: center;
  color: white;
  float: right;
  width: 100%;
  &:hover {
    color: darken(white, 20%);
  }
}

.additional-context-arrow-container {
  position: absolute;
  top: $containerMinHeight/2;
  width: $containerMinWidth;
  color: white;

  .last {
    left: 1em;
    position: inherit;
    &:hover {
      cursor: pointer;
    }
  }

  .next {
    right: 1em;
    position: inherit;
    &:hover {
      cursor: pointer;
    }
  }

}

.additional-context-n-of-n {
  font-size: .5em;
  color: white;
  position: absolute;
  top: ($headerHeight - 20px) + 2.5px;
  // top: calc(60px - 15px);
  left: calc(50% - 30px);
}

.additional-context-visual-background {
  $modifier: 30px;
  position: relative;
  bottom: $modifier*-1;
  height: ($containerMinHeight/2) - ($modifier + ($modifier/2));
  border-radius: 3px 3px 3px 3px;
  border: 1px solid white;
  width: $containerMinWidth - 30px;
  left: $modifier/2;
  opacity: .8;
  background-color: white;
}

.additional-context-child-container {
  $modifier: 30px;
  position: absolute;
  bottom: $modifier*-1;
  height: ($containerMinHeight/2) - ($modifier + ($modifier/2));
  border-radius: 3px 3px 3px 3px;
  width: $containerMinWidth - 30px;
  left: $modifier/2;
  z-index:3;
  overflow-y: auto;
}