
.sprint-selector {

  .p-autocomplete {
    width: 100%;

    .p-autocomplete-multiple-container {
      width: 100%;

      .p-autocomplete-token {
        max-height: 25px;
      }
    }

    .p-button {
      background-color: white !important;
      color: #495057 !important;
      border: 1px solid #ced4da !important;
      &:focus {
        border-left: 0 solid white !important;
      }
    }
  }

}

#aggregate-coming-soon {
  right: 3em !important;
  z-index: 1 !important;
  position: absolute;
  line-height: 34px;
  &:hover {
    cursor: pointer;
  }
}

.stats-flag {
  float: left;
}

.sprint-chip {
  margin: 2px 2px 2px 2px;
}
