
.conditional-loader {
  width: 100vw;
  height: 100vh;
  padding: calc(100vh/2 - 50px) 0 0 calc(100vw/2 - 50px);
  // #7ea6e3
  .conditional-loader-message {
    position: fixed;
    top: calc(100vh/2 + 60px);
    left: 0;
    width: 100%;
    text-align: center;
  }

  div svg circle {
    stroke: lighten($buttonBGColor, 25%) !important; //#7ea6e3 !important; 
  }
  div svg circle:last-child {
    fill: darken($buttonBGColor, 25%) !important;
  }
}