
$graphWidth: 90vw;

.no-data-component-container {
  padding: 10% 0 0 0;
  text-align: center;

  h1, h3 {
    margin: 0 0 0 0;
  }

  div {
    margin: 0 auto;
  }
}

.no-data-container {
  width: 40%;
  background-color: white;
  padding: 1em 1em 1em 1em;
  border: 1px solid gray;
  border-radius: 4px;
  max-height: 40%;
}

.dashboard-container,
.scatterplot-container {
  width: $graphWidth;
  margin: auto;
  padding: 2em 0 0 0;
  .dash-board-selector,
  .graph-board-selector {
    width: $graphWidth/2;
    margin: auto auto 2em auto;

    .p-dropdown {
      width: 100%;
    }
  }
}

.aggregate-stats-container,
.cumulative-flow-container,
.work-item-age-container {
  width: $graphWidth;
  margin: auto;
  padding: 2em 0 0 0;

  .sprint-selector,
  .graph-board-selector {
    width: $graphWidth/2;
    margin: auto auto 2em auto;

    .p-dropdown {
      width: 100%;
    }
  }

  .sprint-selector {
    margin: auto auto auto auto !important;
  }
}

.scatterplot-line {
  stroke: $scatterplotLineStroke !important; //darken($buttonBGColor, 25%) !important;
}

.scatterplot-avg-line {
  stroke: $scatterplotAverageLineStroke !important;
}

.circle {
  stroke: $circleStroke!important;
  fill: $circleFill !important;
  stroke-width: 2;
  &:hover {
    cursor: pointer;
  }
}

.invisible-circle {
  &:hover {
    cursor: pointer;
  }
}

.circle-number {
  stroke: #fdfdab;  
  font-size: .75em;
}

.hollow-bar {
  fill: none !important;
  stroke: silver !important;
}

.stacked-bar-legend,
.stacked-bar {
  &:hover {
    cursor: pointer !important;
  }
}

.bar-tooltip,
.arc-tooltip {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-style: inherit;
  text-transform: uppercase;
  background-color: #e4e4e4;
  border-radius: 3px 3px 3px 3px;
  padding: 0 5px 0 5px;
  border: 1px solid #ccc;
  color: $animusGreen;
}

.a.axis {
  stroke: #bbb;
}

.top-axis {
  text-anchor: end !important;

  line {
    display: none !important;
  }

  text {
    font-size: 1em !important;
    fill: black !important;
  }
  
}

.x-axis-ticks {
  text {
    font-size: 1.25em;
  }
}

$darkCrosshairs: #3d3d3d;
$lightShit: lighten($animusGreenLight, 20%);

.crosshair-line {
  stroke: $darkCrosshairs !important;
  stroke-width: 1 !important;
  // filter: url(#crosshair-shadow);
}

.over-text-label, .under-text-label, .line-arrow-marker {
  fill: $darkCrosshairs !important;
  stroke: $darkCrosshairs !important;
  // filter: url(#crosshair-shadow);
}

///////////////////// tooltip
// $borderColor: lightblue;
// $backgroundColor: #e5eaf1;
$backgroundColor: #728D8D;
$borderColor: lighten($backgroundColor, 15%);
$textColor: #fff;
$triangleWidth: 10px;

.tooltip {
  min-width: 125px;
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  color: $textColor;
  position: absolute;
  border-radius: 1em;
  padding: 1em;
  z-index: 1;
  // opacity: .6;

  .bottom {
    font-size: .3em;
    text-align: center;
    padding: 1em 0 1em 0;
    margin-bottom: -2em;
  }
}

.tooltip-title {
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  padding: 0 0 .25em 0;
  border-bottom: 1px solid silver;
  margin-bottom: .5em;
}

.tooltip-row { 
  display: block;
  white-space: nowrap;
  text-align: center;
  .left {
    left: 0;
    position: relative;
    display: inline;
  }
  .right {
    float: right;
  }
}

.tooltip-top:before,
.tooltip-top:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  // opacity: .8;
  // border: 1px solid $backgroundColor;
  border-top: solid $triangleWidth $backgroundColor;
  border-left: solid $triangleWidth transparent;
  border-right: solid $triangleWidth transparent;
}

.tooltip-top:after {
  border-color: #e5eaf100;
  border-top-color: $backgroundColor;
  border-width: $triangleWidth;
}

.tooltip-top:before {
  border-color: #add8e600;
  border-top-color: $borderColor;
  border-width: $triangleWidth;
}

.hidden {
  overflow: hidden;
  top: -999px !important;
  left: -999px !important;
  position: fixed;
}

.iteration-name-prefix {
  font-size: .65em;
  color: gray;
  text-transform: uppercase;
  margin: -2em 1em .65em -2em;
  opacity: .7;
  line-height: .5em;
}

.iteration-navigator {
  width: ($graphWidth/2) + 5vw;
  margin: auto auto 2em auto;
  max-height: 2em;
  line-height: 2em;
  text-align: center;
  h3 {
    font-weight: 600;
    display: inline-block;
    width: calc(100% - 100px);
    text-align: center;
    margin: 0 0 0 0;
    white-space: nowrap;
  }

  .previous-iteration,
  .next-iteration {
    display: inline-block;
    width: 34px;
    text-align: center;
    padding: 3px 0 0 0;
    &:hover {
      cursor: pointer;
      border-radius: 20px;
      color: white;
      background-color: $animusGreenLight;
      opacity: .6;
    }
  }

  .last-iteration-empty,
  .next-iteration-empty {
    display: inline-block;
    min-width: 34px;
  }
}

//// radial arc iteration chart -->
path.arc {
  opacity: 0.9;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.axis line, .axis circle  {
  stroke: #cccccc;
  stroke-width: 1px
}

.axis circle {
  fill: none;
}

.r.axis text {
  text-anchor: end
}

.dashboard-card-content-inner {
  svg {
    text {
      font-size: .75em;
    }
  }
}

.dash-adjustment,
.iteration-adj {
  margin-top: -1.5em;
}
