.multiselect-flag {
  width: 18px;
  margin-right: .5rem
}

.multiselect-select-item {
  white-space: nowrap;
  line-height: 2em;
  div {
    display: inline;
  }
  img, i {
    margin-bottom: -.2em;
  }
}

a.multiselect-select-item {
  text-decoration: none !important;
  color: inherit !important;
}

.multiselect-header,
.cadence-header  {
  padding-bottom: 1em;
  h3 {
    margin: 0 0 0 0;
  }
}

.multiselect-sub-header,
.cadence-sub-header {
  font-weight: 400;
  font-size: .75em;
}